.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section {
    padding: 3rem; /*48px*/
    color: #fff;
    font-size: 2rem; /*32px*/
    text-align: center;
}

/** :nth-child selectors - select elements based on their position as a child element in any parent element */

section:first-child {
    background-color: crimson;
}

section:last-child {
    background-color: steelblue;
}

section:nth-child(2) {
    background-color: tomato;
}

section:nth-child(3) {
    background-color: khaki;
}

section:nth-last-child(3) {
    background-color: lightgreen;
}

section:nth-last-child(2) {
    background-color: lightseagreen;
}

/* The section inside the footer element is both the first child and last child of the parent element. It's also the only section on the page that is an only child. */
section:only-child {
    background-color: whitesmoke;
    color:darkslategray;
}

/**nth of type selector - selects elements based on their position as a chil as that type of selector **/

/* The nth of type selector will work to selector our paragraph elements. If we want to grab the first paragraph in each section, they are not the first child in that section, but they are the first type of paragraph. */

p:first-of-type {
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px gainsboro;
}

p:last-of-type {
    font-family: sans-serif;
    font-size: 1rem;
}

/** removing/hiding the second p element in all sections */
p:nth-of-type(2) {
    /* display: none; */
}
/** removes/hides the second p element in the first section */
section:first-child p:nth-of-type(2) {
    display: none;
}

